/* ---------------------------------------------------------------------------------------> index <--------------------------------------------------------------------------------------------*/
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #0d0d0d;
    color: white;
}
.top-header {
    background-color: #0d0d0d;
    padding: 25px;
}
.menu-item{
    text-decoration: none;
    color: white;
    margin: 30px;
}
.brand {
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.screen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
.text-left h1{
    font-size: 50px;
}
.text-left span{
    color: #f8c0ec;
}
.text-left h3{
    margin: 10px 0;
    color: #aaa;
}
.social a{
    margin-right: 30px;
    color: #f8c0ec;
    text-decoration: none;
    position: relative;
    top: 20px;
}
.image {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 350px;
    top: 60px;
    right: 60px;    
}
.image img {
    width: 1000px;
    position: relative;
    right: 50px;
    top: -110px;
    z-index: 2;
    border-radius: 500px
}
/* --------------------------------------------------------------------------------------> projects <------------------------------------------------------------------------------------------*/
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 300px;
    max-width: 1500px;
    margin: 200px auto;
}
.card {
    text-align: center;
    line-height: 4;
}
.card img{
    transform: scale(1.7);
    max-width: 350px;
    border-radius: 12px;
    padding: 20px;
    box-shadow:inset 0 -3em 3em rgba(209, 142, 203, 0.3), 0 0 0 2px white, 0.3em 0.3em 1em rgba(108, 156, 230, 0.6);
}
.card h3{
    position: relative;
    top: 100px;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-weight: 700;
    color: rgb(255, 217, 47);
}
.card p{
    position: relative;
    top: 90px;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 300;
    font-style: normal; 
}
.work {
    max-width: 700px;
    margin: 100px auto;
}
.fontwork {
    font-size: 40px;
    color: pink;
    animation: mymove 5s infinite
}
@keyframes mymove {
  50% {color: rgb(225, 240, 89);}
  50% {color: rgb(156, 204, 243);}
}
/* ---------------------------------------------------------------------------------------> aboutme <----------------------------------------------------------------------------------------- */
.aboutme {
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(55, 61, 82, 1) 52%, rgba(5, 0, 0, 1) 100%);
    margin: 0;
    padding: 0;
    height: 600px;
    max-width: 800px;
    margin: 80px auto;
    border-radius: 50px;
    box-shadow: rgba(143, 143, 146, 0.644) 0px 7px 29px 0px;

}
.text-aboutme{
    text-align: center;
    padding: 20px;
}
.text-aboutme p{
    line-height: 50px;
}